<?xml version="1.0"?>
<azure>

<type
	class="CommunicationNetwork"
	name ="vNet"
	description="Azure Element"
	icon = "virtualnetwork.png"
	iconLarge = "virtualnetwork2x.png">
</type>

<type
	class="Node"
	name ="Load Balancer"
	description="Azure Element"
	icon = "loadbalancer.png"
	iconLarge = "loadbalancer2x.png">
</type>

<type
	class="Path"
	name ="Subnet"
	description="Azure Element"
	icon = "subnet.png"
	iconLarge = "subnet2x.png">
</type>

<type
	class="Node"
	name ="Traffic Manager"
	description="Azure Element"
	icon = "trafficmanager.png"
	iconLarge = "trafficmanager2x.png">
</type>

<type
	class="Path"
	name ="Express Route"
	description="Azure Element"
	icon = "expressroute.png"
	iconLarge = "expressroute2x.png">
</type>

<type
	class="Node"
	name ="VPN Gateway"
	description="Azure Element"
	icon = "vpngateway.png"
	iconLarge = "vpngateway2x.png">
</type>

<type
	class="Node"
	name ="Gateway"
	description="Azure Element"
	icon = "gateway.png"
	iconLarge = "gateway2x.png">
</type>

<type
	class="Path"
	name ="Network Security Group"
	description="Azure Element"
	icon = "nsg.png"
	iconLarge = "nsg2x.png">
</type>

<type
	class="separator"
	name ="."
	description="."
	icon = "block.png"
	iconLarge = "block.png">
</type>


<type
	class="Node"
	name ="Active Directory"
	description="Azure Element"
	icon = "activedirectory.png"
	iconLarge = "activedirectory2x.png">
</type>

<type
	class="Node"
	name ="API Manager"
	description="Azure Element"
	icon = "apimanager.png"
	iconLarge = "apimanager2x.png">
</type>

<type
	class="Node"
	name ="Azure Backup"
	description="Azure Element"
	icon = "backup.png"
	iconLarge = "backup2x.png">
</type>

<type
	class="Node"
	name ="Container Service"
	description="Azure Element"
	icon = "containerservice.png"
	iconLarge = "containerservice2x.png">
</type>

<type
	class="Node"
	name ="DNS"
	description="Azure Element"
	icon = "dns.png"
	iconLarge = "dns2x.png">
</type>

<type
	class="Node"
	name ="Firewall"
	description="Azure Element"
	icon = "firewall.png"
	iconLarge = "firewall2x.png">
</type>



<type
	class="SystemSoftware"
	name ="Microsoft Account"
	description="Azure Element"
	icon = "microsoftaccount.png"
	iconLarge = "microsoftaccount2x.png">
</type>

<type
	class="Node"
	name ="Virtual Machine"
	description="Azure Element"
	icon = "azurevm.png"
	iconLarge = "azurevm2x.png">
</type>

<type
	class="SystemSoftware"
	name ="VM Scale Set"
	description="Azure Element"
	icon = "vmscaleset.png"
	iconLarge = "vmscaleset2x.png">
</type>

<type
	class="SystemSoftware"
	name ="VM Availability Set"
	description="Azure Element"
	icon = "vmavailabilityset.png"
	iconLarge = "vmavailabilityset2x.png">
</type>



<type
	class="Node"
	name ="OS Image"
	description="Azure Element"
	icon = "osimage.png"
	iconLarge = "osimage2x.png">
</type>

<type
	class="Node"
	name ="SQL Server"
	description="Azure Element"
	icon = "sql.png"
	iconLarge = "sql2x.png">
</type>

<type
	class="Node"
	name ="Cosmos DB"
	description="Azure Element"
	icon = "cosmosdb.png"
	iconLarge = "cosmosdb2x.png">
</type>


<type
	class="Node"
	name ="Storage"
	description="Azure Element"
	icon = "storage.png"
	iconLarge = "storage2x.png">
</type>

<type
	class="Node"
	name ="VHD Disk"
	description="Azure Element"
	icon = "vhddata.png"
	iconLarge = "vhddata2x.png">
</type>

<type
	class="separator"
	name ="."
	description="."
	icon = "block.png"
	iconLarge = "block.png">
</type>

<type
	class="Resource"
	name ="Resource Group"
	description="Azure Element"
	icon = "resourcegroup.png"
	iconLarge = "resourcegroup2x.png">
</type>

<type
	class="Artifact"
	name ="Subscription"
	description="Azure Element"
	icon = "azuresubscription.png"
	iconLarge = "azuresubscription2x.png">
</type>



<type
	class="Location"
	name ="Azure Region"
	description="Azure Element"
	icon = "microsoftazure.png"
	iconLarge = "microsoftazure2x.png">
</type>

</azure>